.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formBox {
  background-color: coral;
  width: 400px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px grey;
  text-align: center;
}

h1 {
  font-size: 56px;
}

.formPadding {
  padding-left: 50px;
  padding-right: 50px;
}

.inputToolTip {
  cursor: default;
}

.helperTextColor {
  color: darkred !important;
}

.errorText {
  color: darkred;
}

.successText {
  color: darkgreen;
}

.toolbar {
  width: 100vw;
  height: 75px;
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbarText {
  margin-left: 20px;
}

#exitIcon {
  margin-left: auto;
  margin-right: 20px;
}

#exitIcon:hover {
  opacity: 0.6;
}

#exitIcon:active {
  transform: scale(0.9);
}

.halfScreenContainer {
  width: 50vw;
  height: 100%;
}

.screenContainer {
  width: 100vw;
  height: 100vh;
}

#contentContainer {
  width: 100%;
  height: calc(100% - 75px);
}

#usernameDisplay {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
}

#chatsContainer {
  display: flex;
  height: calc(100% - 75px);
}

.chatDisplay {
  height: 40px;
  border: 3px solid black;
  margin-bottom: -3px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer
}

.selectedChat {
  color: blue;
  font-size: 24px;
}

.messageView {
  height: calc(100% - 6px);
  border: 3px solid black;
  margin-left: -3px;
}

.paddedObject {
  width: 100% - 20px;
  padding: 10px;
}

.centerText {
  text-align: center;
}