.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formBox {
  background-color: coral;
  width: 400px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px grey;
  text-align: center;
}

h1 {
  font-size: 56px;
}

.formPadding {
  padding-left: 50px;
  padding-right: 50px;
}